<div class='side-bar'>
    <h3>bài viết mới nhất</h3>
    <ul>
        <li>
            <a href='#'>
                <img src='https://freetuts.net/upload/learn_post/_thumbs/Images/2020/08/20/134/khoa-hoc-photoshop-online-chuyen-nghiep.jpg'>
                <span>Lộ trình học Photoshop cho người mới bắt đầu - Có video học miễn phí</span>
            </a>
        </li>
        <li>
            <a href='#'>
                <img src='https://freetuts.net/upload/learn_post/_thumbs/Images/2020/08/20/134/khoa-hoc-photoshop-online-chuyen-nghiep.jpg'>
                <span>Lộ trình học Photoshop cho người mới bắt đầu - Có video học miễn phí</span>
            </a>
        </li>
        <li>
            <a href='#'>
                <img src='https://freetuts.net/upload/learn_post/_thumbs/Images/2020/08/20/134/khoa-hoc-photoshop-online-chuyen-nghiep.jpg'>
                <span>Lộ trình học Photoshop cho người mới bắt đầu - Có video học miễn phí</span>
            </a>
        </li>
        <li>
            <a href='#'>
                <img src='https://freetuts.net/upload/learn_post/_thumbs/Images/2020/08/20/134/khoa-hoc-photoshop-online-chuyen-nghiep.jpg'>
                <span>Lộ trình học Photoshop cho người mới bắt đầu - Có video học miễn phí</span>
            </a>
        </li>
    </ul>
</div>