<div class='nav-wrp'>
    <ul *ngIf='cate.length > 0' class='nav'>
        <li class='nav__item'>
            <a class='nav__item__link' routerLink=''>home</a>
        </li>
        <li class='nav__item' *ngFor='let category of cate'>
            <a class='nav__item__link' routerLink="{{'/single/' + category.url}}">
                {{category.name}}
                <fa-icon *ngIf='category.child.length > 0' [icon]='faCaretDown'></fa-icon>
            </a>
            <div *ngIf='category.child.length > 0' class='sub-menu-wrp'>
                <ul class='sub-menu sub-menu--horizontal'>
                    <li class='nav__item' *ngFor='let child of category.child'>
                        <a class="{{'nav__item__link' + (child.child.length > 0 ? ' nav__item__link--title':'')}}" 
                        routerLink="{{'/single/' + child.url}}">{{child.name}}</a>
                        <ul *ngIf='child.child.length > 0'>
                            <li *ngFor='let nephew of child.child' class='nav__item nav__item--hasside'>
                                <a class='nav__item__link' routerLink="{{'/single/' + nephew.url}}">{{nephew.name}}</a>
                                <!-- <div *ngIf='nephew.child.length > 0' class='sub-menu-wrp sub-menu--side'>

                                    <ul class='sub-menu--side__contain'>
                                        <li class='nav__item' *ngFor='let childNephew of nephew.child'>
                                            <a class='nav__item__link'
                                                [routerLink]="['/post', childNephew.url]">{{childNephew.name}}</a>
                                        </li>
                                    </ul>
                                </div> -->
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>