.container {
    display: grid;
    grid-template-columns: auto auto;
    max-height: 100vh;
    height: 89vh;
    max-width: 100%;
    width: 100%;
    border: 1px solid;
    margin-top: 10px;
}

.chart-box {
    border: solid 1px;
    margin: 10px;
}