<div class="container">
    <div class="chart-box">
        <div class="chart">
            <app-posts-statitics></app-posts-statitics>
        </div>
    </div>
    <!-- <div class="chart-box">
        <div class="chart">
            <app-donut-graph></app-donut-graph>
            <app-posts-statitics></app-posts-statitics>
        </div>
    </div>
    <div class="chart-box">
        <div class="chart">
            <app-posts-statitics></app-posts-statitics>
        </div>
    </div>
    <div class="chart-box">
        <div class="chart">
            <app-posts-statitics></app-posts-statitics>
        </div>
    </div> -->

</div>