.card {
    margin: 10px;
    width: 100%;
    .card-header {
        background-color: #333;
        color: #eeeeee;
    }
    .card-body {
        margin-top: 5px;
        max-height: 78vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .table-scroll {
            height: 70vh;
            overflow: auto;
        }
        .pull-left {
            margin-bottom: 5px;
        }
        .pull-right {
            display: flex;
            align-items: center;
            .search-icon {
                margin-left: 10px;
                transform: rotate(90deg);
            }
        }
    }
}

.pagination {
    align-self: center;
    margin-top: 10px;
    margin-bottom: -30px;
}

button {
    margin: 2px;
}

select {
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    margin-bottom: 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

tr:hover {
    background-color: rgb(223, 222, 222);
}

th {
    cursor: pointer;
}