.card {
    margin: 10px;
    width: 100%;
    .card-header {
        background-color: #333;
        color: #eeeeee;
    }
    .card-body {
        margin-top: 5px;
        max-height: 78vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .table-scroll {
            height: 70vh;
            overflow: auto;
            table {
                position: relative;
            }
            th {
                position: sticky;
                top: 0;
            }
        }
        .pull-left {
            margin-bottom: 5px;
        }
        .pull-right {
            display: flex;
            align-items: center;
            .search-icon {
                margin-left: 10px;
                transform: rotate(90deg);
            }
        }
    }
}

.pagination {
    align-self: center;
    margin-top: 10px;
    margin-bottom: -30px;
}

.item-label {
    margin: 5px;
}

button {
    margin: 2px;
}

select {
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    margin-bottom: 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

tr:hover {
    background-color: rgb(223, 222, 222);
}

th {
    cursor: pointer;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .btn {
        border-radius: 50%;
        .item-label {
            display: none;
        }
    }
    .modal {
        margin-top: 50%;
        .btn {
            border-radius: 5px;
        }
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}