<div class='header-wrp'>
    <div class='header'>
        <a href='' class='logo-link'>
            <span class='logo'>gomanga</span>
        </a>
        <div class='fake-input fake-input--box fake-input--round fake-input--long fake-input--flex'>
            <input type='text' id='username' placeholder='Search...'>
            <button class='search-btn'>
                <fa-icon [icon]='faSearch'></fa-icon>
            </button>
        </div>
        <div class='header__buttons'>
            <button class='header__btn' [routerLink]="['', 'entrance']">
                <fa-icon [icon]='faUserCircle'></fa-icon>
            </button>
        </div>
    </div>
</div>
