<div class='header-wrp'>
    <div class='header'>
        <a [routerLink]="['']" class='logo-link'>
            <span class='logo'>freetuts</span>
        </a>
        <form>
            <div class='fake-input fake-input--box fake-input--round fake-input--long fake-input--flex'>
                <input type='text' 
                    id='username' 
                    placeholder='Search...' 
                    [(ngModel)]='query'
                    [ngModelOptions]="{standalone: true}">
                <button class='search-btn'
                    [attr.disabled]="searching ? '': null" 
                    (click)='onSearchClick()'>
                    <fa-icon [icon]='faSearch'></fa-icon>
                </button>
            </div>
        </form>
        <div class="dropdown" *ngIf="isLogged; else toLogin">
            <button class="btn dropdown-toggle user-btn" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="title">{{username | titlecase}} <fa-icon [icon]="faUserCircle"></fa-icon></span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button" [routerLink]="['/profile']">
                    Profile
                </button>
                <button class="dropdown-item" type="button" [routerLink]="['/entrance']" (click)="onLogout()">
                    Logout
                </button>
            </div>
        </div>
        <ng-template #toLogin>
            <div class="dropdown">
                <button class="btn btn-outline-info login-btn" type="button" [routerLink]="['/entrance']" (click)="onLogout()">Login</button>
            </div>
        </ng-template>
    </div>
</div>