<div class="container-fluid">
    <nav class="navbar">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <!-- <span class="fa fa-fw mr-3" *ngIf="!sidebarVisible" (click)="onToggleSidebar()">
                <fa-icon [icon]="faBars"></fa-icon>
            </span> -->
            <span class="title" (click)="onBackHome()" id="toHomeBtn"><img src="../../../assets/images/logo.png"
                    alt="freetuts" /></span>
        </button>

        <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="account-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="title">{{username | titlecase}} <fa-icon [icon]="faUserCircle"></fa-icon></span>
            </button>
            <div class="dropdown-menu" aria-labelledby="account-dropdown">
                <button class="dropdown-item" type="button">
                    Profile
                </button>
                <button class="dropdown-item" type="button" id="lgOutBtn" (click)="onLogout()">
                    Logout
                </button>
            </div>
        </div>
    </nav>

    <div class="row" id="body-row">
        <!-- <div id="sidebar-container" class="sidebar-expanded d-none d-md-block" *ngIf="sidebarVisible"> -->
        <div id="sidebar-container" [ngClass]="{'sidebar-expanded': sidebarVisible, 'sidebar-collapsed': !sidebarVisible}">
            <ul class="list-group">
                <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
                    <small class="seperate-text">MAIN MENU</small>
                </li>

                <a href="#submenu-post" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-fw mr-3">
                            <fa-icon [icon]="faFileAlt"></fa-icon>
                        </span>
                        <span class="menu-collapsed">Posts</span>
                        <span class="submenu-icon ml-auto"></span>
                        <span class="collapse-icon-post">
                            <fa-icon class="chevronPost" [icon]="faChevronCircleDown"></fa-icon>
                        </span>
                    </div>
                </a>

                <div id="submenu-post" class="collapse sidebar-submenu">
                    <a [routerLink]="['posts/posts-edit']" routerLinkActive="router-link-active" class="list-group-item list-group-item-action bg-dark text-white">
                        <span class="submenu-collapsed"> Edit</span>
                    </a>
                    <a [routerLink]="['posts/posts-create']" routerLinkActive="router-link-active" class="list-group-item list-group-item-action bg-dark text-white">
                        <span class="submenu-collapsed"> Create</span>
                    </a>
                </div>

                <a [routerLink]="['categories']" id="cate" routerLinkActive="router-link-active" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-fw mr-3">
                            <fa-icon [icon]="faLayerGroup"></fa-icon>
                        </span>
                        <span class="menu-collapsed">Categories</span>
                    </div>
                </a>

                <!-- <div id="submenu3" class="collapse sidebar-submenu"></div> -->
                <a [routerLink]="['users']" routerLinkActive="router-link-active" class="bg-dark list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-fw mr-3">
                            <fa-icon [icon]="faUser"></fa-icon>
                        </span>
                        <span class="menu-collapsed">Users</span>
                    </div>
                </a>
                <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
                    <small class="seperate-text">OPTIONS</small>
                </li>

                <a data-toggle="collapse" aria-expanded="false" data-target="sidebar-container" class="collapse-btn bg-dark list-group-item list-group-item-action d-flex align-items-center" (click)="onToggleSidebar()">
                    <div class="d-flex w-100 justify-content-start align-items-center" id="collapse-sidebar">
                        <span id="collapse-text" class="menu-collapsed">Collapse</span>
                        <span class="submenu-icon ml-auto"></span>
                        <span class="collapse-icon">
                            <fa-icon class="chevronCollapse" [icon]="sidebarVisible ? faChevronCircleLeft : faChevronCircleRight"></fa-icon>
                        </span>
                    </div>
                </a>
            </ul>
        </div>
        <div class="col">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>