<h2 class='profile__title'>change your password</h2>
<form>
    <label for='currentPassword'>current password</label>
    <div class='profile__main__input'>
        <input id='currentPassword'>
    </div>
    <label for='newPassword'>new password</label>
    <div class='profile__main__input'>
        <input id='newPassword'>
    </div>
    <label for='confirmPassword'>confirm password</label>
    <div class='profile__main__input'>
        <input id='confirmPassword'>
    </div>
    <button class='mybtn mybtn--light-green'>change password</button>
</form>