<h2 class='profile__title'>change your password</h2>
<form [formGroup]='passForm'>
    <label for='currentPassword'>current password</label>
    <div class='profile__main__input'>
        <input type='password' id='currentPassword' formControlName='currentPass'>
    </div>
    <label for='newPassword'>new password</label>
    <div class='profile__main__input'>
        <input type='password' id='newPassword' formControlName='newPass' appPasswordValidate>
        <span class='alert alert--decline' *ngIf="passForm.get('newPass').touched && passForm.get('newPass').invalid">
            >= 8 characters, at least 1 letter, 1 number, 1 special character (not `, " or ')
        </span>
    </div>
    <label for='confirmPassword'>confirm password</label>
    <div class='profile__main__input'>
        <input type='password' id='confirmPassword' formControlName='confirmPass'>
        <span class='alert alert--decline' *ngIf="passForm.get('confirmPass').invalid">
            new password not match
        </span>
    </div>
    <button class='mybtn mybtn--light-green' (click)='onChangePassClick()'>change password</button>
</form>