<div class='footer-wrp'>
    <div class='footer'>
        <div class=footer__upper>
            <div class='footer__column'>
                <div class='footer__column'>
                    <h1 class='footer__column__title'>about us</h1>
                    <p class='footer__column__text'>freetuts</p>
                </div>
                <div class='footer__column'>
                    <h1 class='footer__column__title'>contact us</h1>
                    <span class='footer__column__text'>
                        <fa-icon [icon]='faEnvelope'></fa-icon>
                        freetuts@email.com
                    </span>
                </div>
            </div>

            <div class='footer__column'>
                <h1 class='footer__column__title'>information</h1>
                <a class='footer__column__item' href='#'>about us</a>
                <a class='footer__column__item' href='#'>more search</a>
                <a class='footer__column__item' href='#'>blog</a>
                <a class='footer__column__item' href='#'>events</a>
            </div>
            <div class='footer__column'>
                <h1 class='footer__column__title'>helpful links</h1>
                <a class='footer__column__item' href='#'>services</a>
                <a class='footer__column__item' href='#'>supports</a>
                <a class='footer__column__item' href='#'>terms & condition</a>
                <a class='footer__column__item' href='#'>privacy policy</a>
            </div>
            <div class='footer__column'>
                <h1 class='footer__column__title'>keep in touch</h1>
                <div class='fake-input fake-input--box fake-input--round fake-input--flex'>
                    <span class='fake-input__icon fake-input__icon--left'>
                        <fa-icon [icon]='faEnvelope'></fa-icon>
                    </span>
                    <input type='text' placeholder='Enter your Email'>
                </div>
                <button class='mybtn mybtn--sm mybtn--light-green'>subscribe</button>
            </div>
        </div>
        <div class='footer__lower'>
            <span class='footer__column__text'>2020 &#169; Freetuts</span>
        </div>
    </div>
</div>