<div class='home'>
    <div class='home__content'>
        <h1 class='title'>Học lập trình online miễn phí</h1>
        <p class='sub-title'>Freetuts là trang web học lập trình online miễn phí với các chủ đề: lập trình / các môn học
            / công nghệ /
            review sản phẩm tốt nhất đến với độc giả.</p>

        <div *ngFor='let topic of topicId'>

            <app-five-group [categoryId]='topic'></app-five-group>
        </div>

    </div>
    <div class='home__side'>
        <app-side-bar [title]='sideBarTitle' [target]='null'></app-side-bar>
    </div>
</div>