<div class='forgot-password'>
    <div class='forgot-password__icon'>
        <fa-icon [icon]='faKey'></fa-icon>
    </div>
    <h1 class='forgot-password__title'>yo! forgot your password?</h1>
    <p class='forgot-password__message'>No worries! Enter your email and we will send you a reset.</p>
    <form class='forgot-password-form'>
        <div class='fake-input'>
            <input type='text' placeholder='Enter your email'>
        </div>
        <button class='forgot-password-form__btn login-form__login-btn mybtn mybtn--round mybtn--sm mybtn--light-green neu'
                type='button'>
            send request
        </button>
    </form>
</div>