@use '../../../styles.scss';

.profile {
    min-height: 500px;
    width: 1000px;
    margin: 0 auto;
    display: flex;
    padding: 50px 0;
    .profile__control {
        flex-grow: 1;
        h2 {
            text-transform: uppercase;
            font-size: 18px;
            font-weight: bold;
            color: #686868;
            margin-bottom: 20px;
        }
        ul {
            li {
                list-style: none;
                button {
                    background: transparent;
                    text-transform: capitalize;
                    font-size: 18px;
                    color: #4b4747;
                    height: 50px;
                    padding: 0 20px;
                    &:hover {
                        color: styles.$color-light-green;
                    }
                    &.active {
                        box-shadow: 8px 0 0 styles.$color-light-green inset;
                        color: styles.$color-light-green;
                        font-weight: bold;
                    }
                }
            }
        }
    }
    .profile__main {
        flex-grow: 3;
    }
}

.profile__title {
    text-transform: capitalize;
    font-size: 22px;
    margin-bottom: 35px;
}

form {
    label {
        text-transform: capitalize;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 10px;
    }
    .profile__main__input {
        height: 40px;
        width: 500px;
        padding: 0 15px;
        background: transparent;
        border: 1px solid #ddd;
        box-shadow: inset 0 1px 2px rgb(151 159 175 / 10%), inset 0 1px 15px rgb(151 159 175 / 5%);
        margin-bottom: 30px;
        input {
            background: transparent;
            height: 100%;
            width: 100%;
        }
    }
}

.alert-modal-wrp {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;
    display: none;
    top: 0;
    .alert-modal {
        position: relative;
        width: 100%;
        height: 100%;
        .my-modal {
            width: 500px;
            height: 214px;
            background: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 5px;
            h4 {
                height: 70px;
                line-height: 70px;
                padding: 0 20px;
                font-size: 25px;
                position: relative;
                &::first-letter {
                    text-transform: uppercase;
                }
                &::after {
                    content: "";
                    display: block;
                    height: 1px;
                    width: 100%;
                    background: #dbdbdb;
                    position: absolute;
                    left: 0;
                }
            }
            p {
                padding: 20px;
                font-size: 20px;
                text-transform: capitalize;
                text-align: center;
                height: 90px;
            }
            button {
                margin: 0 auto;
                display: block;
            }
        }
    }
}

.modal--active {
    display: unset;
}
