<div>
    <app-head></app-head>
    <div class='profile'>
        <div class='profile__control'>
            <h2>account</h2>
            <ul>
                <li>
                    <button [class]="option === 1 ? 'active': null"
                        (click)='onSettingsClick()'>
                        settings
                    </button>
                </li>
                <li>
                    <button [class]="option === 2 ? 'active': null"
                        (click)='onPasswordClick()'>
                        password
                    </button>
                </li>
            </ul>
        </div>
        <div class='profile__main'>
            <router-outlet></router-outlet>
        </div>
    </div>
    
    <div [class]="'alert-modal-wrp' + (modalErr ? ' modal--active': '')">
        <div class="alert-modal"
            (click)='onToggleModalClick()'>
            <div class="my-modal" appClickStopPropagation>
                <h4>message</h4>
                <p>{{modalErr}}</p>
                <button class='mybtn mybtn--sm mybtn--light-green'
                    (click)='onToggleModalClick()'>ok</button>
            </div>
        </div>
    </div>
</div>
