<app-loading [size]="'medium'" *ngIf="!isLoaded"></app-loading>
<div class="card-container" *ngIf="isLoaded">
    <div class="card title">
        <div class="card-body">
            <h5 class="card-title">Title</h5>
            <input class="form-control" required [(ngModel)]="post.title" #title="ngModel" />

            <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger">
                <div *ngIf="title.errors.required">Title is required.</div>
            </div>
        </div>
    </div>

    <div class="card thumbnail">
        <div class="card-body">
            <h5 class="card-title">Thumbnail</h5>
            <input class="form-control" placeholder="Image URL here..." required [(ngModel)]="post.thumbnail" />
        </div>
    </div>

    <div class="card category">
        <div class="card-body">
            <h5 class="card-title">Category</h5>
            <select id="input" class="form-control" required="required" [(ngModel)]="post.categoryId" #cateId="ngModel">
        <option selected *ngFor="let item of categories" value="{{ item._id }}">
          {{ item.name }}
        </option>
      </select>
            <div *ngIf="cateId.invalid && (cateId.dirty || cateId.touched)" class="alert alert-danger">
                <div *ngIf="cateId.errors.required">Category is required.</div>
            </div>
        </div>
    </div>

    <div class="card content">
        <div class="card-header">
            <h4>Content</h4>
        </div>
        <div class="card-body">
            <!-- <form [formGroup]="form"> -->
            <div class="editor">
                <editor apiKey="hg63qewgjorv2m8gat981p1w1d9zy4wtq03oxkrysvj3wdol" [init]="{
            height: 450,
            menubar: 'file edit view insert format tools table help',
            plugins: [
              'advlist autolink lists link image charmap print preview anchor',
              'searchreplace visualblocks code fullscreen',
              'insertdatetime media table paste code help wordcount'
            ],
            toolbar:
              'undo redo | formatselect | ' +
              'bold italic backcolor | alignleft aligncenter ' +
              'alignright alignjustify | bullist numlist outdent indent | ' +
              'removeformat | help',
            content_style:
              'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
          }" [(ngModel)]="post.content">
                </editor>
            </div>
            <div>
                <button type="button" class="btn btn-primary reset" (click)="onReset()">
          Reset
        </button>

                <button type="button" class="btn btn-primary save" (click)="onPost()" [disabled]="!title.valid || !cateId.valid" data-toggle="modal" data-target="#postModal">
          Save
        </button>
            </div>
        </div>
    </div>
</div>

<div id="postModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" *ngIf="isPosted">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Created a new post</h4>
                <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-success">
                    <p>{{ post.title }}</p>
                </div>
            </div>
        </div>
    </div>
</div>