@use '../home/five-group/five-group.component.scss' as fg;

.single {
    min-height: 800px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .single__main {
        width: 1000px;
        .single__content-wrp {
            border: 1px solid fg.$border-color;
            padding: 20px;
            margin-bottom: 20px;
            min-height: 200px;
            .single__content {
                .title {
                    font-size: 24px;
                    font-weight: 600;
                    margin-bottom: 25px;
                    text-transform: capitalize;
                }
                .author {
                    font-size: 12px;
                    color: #afafaf;
                    margin-bottom: 25px;
                    display: block;
                }
                .content {
                    font-size: 17px;
                    margin-bottom: 25px;
                }
            }
            .loading {
                height: 160px;
            }
        }
    }
}
